<nav class="nav-group">
  <ul>
    <li class="nav-item active">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/about-us"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About Us</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Programs</a
      >
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Reviews</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Contact</a
      >
    </li>
  </ul>
</nav>
