
<main>
    <div class="slider">
        <div class="menu">
        <app-navbar></app-navbar>
    </div>
      <div class="slider-image"></div>
        <div class="slider-text">
            <div class="title-one">
                <p>S H A P E  Y O U R  B O D Y</p>
            </div>
            <div class="title-two">
          <div class="description">Get <span class="active">the</span> <span class="active">result </span>you want</div>
            </div>
            <button class="join-us">Join us</button>
        </div>
    </div>
    <div class="parag-1">
        <span class="question">WHY CHOOSE US?</span>
        <span class="response">PUSH YOUR LIMITS FORWARD</span>
    </div>
    <div class="card-section">
        <div class="card">
            <div class="logo"><img src="../../assets/images/screenshot2024-02-22103410-removebg-preview-1.png" /></div>
            <div class="content">
                <span class="title">Modern equipment</span>
                <p>wearable technology, data tracking and data collection, goal-line technology, and virtual reality.</p>
            </div>
        </div>
        <div class="card">
            <div class="logo"><img src="../../assets/images/screenshot2024-02-22103731-removebg-preview-1.png" /></div>
            <div class="content">
                <span class="title">Proffesional training plan</span>
                <p>Identify the necessary skills and resources to support the member's career goals.</p>
            </div>
        </div>
        <div class="card">
            <div class="logo"><img src="../../assets/images/screenshot2024-02-22103802-removebg-preview-1.png" /></div>
            <div class="content">
                <span class="title">Unique to your needs</span>
                <p>renforcement des capacités pulmonaires et cardiaques</p>
            </div>
        </div>
    </div>
</main>
